<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
{% autoescape off %}
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'ourdiary' %}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="{% url 'mylist' %}">mylist <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{%url 'new' %}">글쓰기</a>

          </div>
        </div>
      </nav>
      {% if user.is_authenticated %}
    <p>{{ user.username }}</p>
    <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
    <form id="logout" method="POST" action="{% url 'logout' %}">
        {% csrf_token %} <input type="hidden" />
    </form>
{% else %}
    <a href="{% url 'signup' %}">회원가입</a>
    <a href="{% url 'login' %}">로그인</a>
{% endif %}

<h1>ourdiary</h1>
    {{current_user}}
    {% for ourdiary in ourdiarys.all %}
      {%  ifequal forloop.counter 1 %}
      <h1>{{ourdiary.title}}</h1>
      <p>{{ourdiary.summary}}<a href = "{%url 'detail' ourdiary.id%}" >...more</a></p>
      <br><br>
      {% endifequal %}
    {%  ifequal forloop.counter 2 %}
      <h1>{{ourdiary.title}}</h1>
      <p>{{ourdiary.summary}}<a href = "{%url 'detail' ourdiary.id%}" >...more</a></p>
      <br><br>
      {% endifequal %}
    {%endfor%}
<h1>mydiary</h1>
{{current_user}}
    {% for mydiary in mydiary.all %}
      {%  ifequal forloop.counter 1 %}
      <h1>{{mydiary.title}}</h1>
      <p>{{mydiary.summary}}<a href = "{%url 'detail' mydiary.id%}" >...more</a></p>
      <br><br>
      {% endifequal %}
    {%  ifequal forloop.counter 2 %}
      <h1>{{mydiary.title}}</h1>
      <p>{{mydiary.summary}}<a href = "{%url 'detail' mydiary.id%}" >...more</a></p>
      <br><br>
      {% endifequal %}
    {%endfor%}
<h1>profile</h1>
    {% for profile in profile.all %}
      {{ current_user.profile.nickname }}
      {{ current_user.profile.description }}
    {%endfor%}
</body>
{% endautoescape %}
