{% block container %}
<div class="container">
    <div class="row">
        <div class="col-3">
            {% for profile in profile.all %}
            {% if current_user.profile.image %}
            <img src="{{ profile.image.url }}" width= 70, 
                 alt="{{ profile.image}}">
            {%endif%}
            {{ current_user.profile.nickname }}
        </div>
        <div class="col-9">
           
            <div>
                {{ current_user.profile.description }}
            </div>
        </div>
    </div>
    {% endfor %}
    
    {% if user == current_user%}
    <div>
        <a href="{% url 'profile_update' %}">프로필</a>
    {% endif %}
{% endblock %}
